* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #1b1a1b;
  color: #ffffff;
}
.blockquote {
  text-transform: uppercase;
}
.wrapper {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}
